.header{
  background-color: #000033;
  color: white;
  text-align: center;
  padding: 5px;
}

#headerblack{
  background-color:#000000 ;
  color: white;
  text-align: center;
  padding: 5px;
}

#backgoundColor{
  background-color:#00FF00;

}


.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

}
body {
    background-color:#33FFFF;
    font-family: Helvetica, Arial, sans-serif;
}

.content{
  padding: 10px;
}

.nav{
  width: 180px;
  float: left;
}

.nav .selected{
  font-weight: bold;
}

.main {
  width: 600px
  float:right;
}

.footer{
  clear: both;
  padding: 5px;
  background-color: #000033;
  color: white;
  text-align: right;
}


#footer2{
  clear: both;
  padding: 5px;
  background-color:#000000;
  color: white;
  text-align: right;
}
